@import "reset.css";

* {
  background-color: #edeef0;
}

.container-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
  width: 980px;
  .container-app-wrapper{
    grid-area:content;
    width:100%;
    height:auto;
    background-color: #a3c2c2;
    margin-top:10px;
  }
}

